
<center>
<%= form_with model: @movie do |form| %>
  <div>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
    <% @movie.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div>
      <%= form.label :release_date %><br>
      <%= form.date_field :release_date %>
      <% @movie.errors.full_messages_for(:release_date).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :poster %><br>
      <%= form.file_field :poster %><br>
    </div>
   
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</center>