<%
=begin%>
 
<center>
<h1>All Movies</h1>
</center>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Poster</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td>
          <% if movie.poster.attached? %>
            <%= image_tag movie.poster %>
          <% else %>
            No Poster Available
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', movie %>
          <%= link_to 'Edit', edit_movie_path(movie) %>
          <%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 
<%
=end%>
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('img_girl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1   {color: blue;}
p    {color: red;}
.small-image{
  width:200px;
  height: 300px;
  margin:2px;
  padding: 3px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cyan ;
}
</style>
</head>
<body>
<ul>
 <br>
  <%= link_to "Create New movie", new_movie_path %><br>
  <%= link_to "Theaters", theaters_path%>

<% @movies.each do |movie| %>
      <tr>
        <h1><%= movie.name %></h1>
        <h3>Release Date <%=movie.release_date%></h3>
        <td>
          <% if movie.poster.attached? %>
            <%= image_tag(movie.poster.url, class: 'small-image') %><br>
          <% else %>
            No Poster Available
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', movie %><br>
          <%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        </td>
      </tr>
    <% end %>
</ul>
</body>