<h1>New movie</h1>
<%= form_with url: "/movies", method: :post do |form| %>
  <%= form.text_field :name %><br>
  <%= form.file_field :poster %><br>
  <%= form.submit %>
<% end %>

<div>
  <%= link_to "Back to movies", movies_path %>
</div>
