<html>
  <head>
    <style>

    </style>
  </head>
<body>
    <div class="container">
        <h1>New Movie</h1>
    <%= form_with model: @show,local: true do |form| %>            
              <label for="start_time">Start_time</label>
            <%= form.date_field :start_time ,id: "start_time"%><br><br>
            
            <label for="End_time">End Time</label>
            <%= form.date_field :end_time, id: "end_time"%><br><br>

            <%= form.submit %><br>
        <% end %>

        <div class="back-link">
            <%= link_to "Back to Screen", screens_path %>
        </div>
      </div>
</body>
</html>