<%
=begin%>
 <% if @theaters.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>

<ul id = "Theater">
   <% @theaters.each do |c| %>
   <li><%= link_to c.name, {:action => 'show', :id => c.id} -%></li>
    <%= c.screens.name%> 
    
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Theater", {:action => 'new' }%></p> 
<%
=end%>
<%= link_to "Home ",root_path%><br>
<%= link_to "Create New Theater", new_theater_path %><br>
<% @theaters.each do |theater| %>
      <tr>
        Name: <%= theater.name %><br>
        Location: <%= theater.location%>
        <br>
        <td>

        </td>
        <td>
        <%= link_to 'Show', theater%><br>
         <br>
          
          <br>
        </td> 

      </tr>
    <% end %><br>
