<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Book_My_Show</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<style>
 ul.navbar
 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #007bff;
 }
 ul.navbar li 
 {
  display: inline;
  margin-right: 10px;
 }
 ul.navbar li a 
 {
  text-decoration: none;
  color: #fff;
 }
 .topnav 
 {
  background-color: #333;
  overflow: hidden;
 }
.topnav a 
 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 } 
 .topnav a:hover 
 {
  background-color: sky_blue;
  color: black;
 }
 .topnav a.active 
 {
  background-color: 87CEFA;
  color: white;
 }
 #profile
 {
  margin-left: 455px;
 }
 .flash
 {
  color: red;
 }
</style>
  </head>
   
  <body>
  <div style="background-color: #007BFF; padding: 10px; text-align: center;">
    <p style="color: #fff; font-size: 14px; margin: 0;">Book_My_Show</p>
  </div>
    <div id="user_nav">
    <% if user_signed_in? %>
    <div class="topnav">
  <%= link_to "Home", root_path, class: 'active' %>
  <%= link_to "Tickets", tickets_path %>
  <%= link_to "Theaters", theaters_path %>
  <a href="/search_movie_by_name"><i class="fa fa-fw fa-search" id="profle"></i> Search</a>
  <%
=begin%>
 <%=link_to 'search_movie',search_movie_by_name_path %> 
<%
=end%>
  <a href="/profile"><i class="fa fa-fw fa-user" id="profile"></i> profile</a>
  
</div>
    <% end %>
</div>

<div class="flash"><%= flash[:notice] %></div>
  <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>



    <%= yield %> 
      <%if user_signed_in?%>
  <%= link_to 'Sign out', destroy_user_session_path %>
  <%end%>
    <br>
<center>
  <div style="background-color: #007BFF; padding: 10px;">
    <p style="color: #fff; font-size: 14px; margin: 0;">&copy; 2023 Book_My_Show</p>
  </div>
</center>
</body>
</html>
